<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--让当前viewport的宽度等于设备的宽度，同时不允许用户手动缩放。-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>归档页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/m.css">
</head>
<body>
<!--/*/<th:block th:replace="fragments :: script">/*/-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
    <script>

        $(document).ready(function(){
            //打开或合并菜单
            $('.menu-toggle').click(function () {
                //去除或加上对应的class
                $('.m-item').toggleClass('m-mobile-hide');
            });
        });
    </script>
    <!--导航 -->
    <!--inverted反转颜色,不加就白色，加就黑色，其他颜色可以在后面加，
    attached去除圆角-->
    <nav th:replace="fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <!--反色菜单-->
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item">ZZF</h2>
                <!--m-mobile-hide手机端隐藏-->
                <a href="" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="" class="active m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon input">
                        <input class="transparent" type="text" placeholder="搜索..." style="width: 300px">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu-toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--中间部分-->
    <div class="m-padded-tb-large m-container-small">
        <div class="ui container">
            <div class="ui top attached segment">
                <!--两列网格，内容居中-->
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui black header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        已发布<h2 class="ui orange header m-text-thin m-inline-block" th:text="${blogCount}">&nbsp;114&nbsp;</h2>篇博客
                    </div>
                </div>
            </div>

            <th:block th:each="archive : ${archives}">
            <h3 class="ui center aligned header" th:text="${archive.key}">2021</h3>
            <div class="ui fluid vertical menu">
                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${archive.value}">
                    <span class="m-text-bold" th:text="${blog.title}">
                        Java从入门到精通
                    </span>
                    <div class="ui basic label mini" th:text="${#dates.format(blog.updateTime,'MM-dd')}">02-09</div>
                    <div class="ui orange basic label mini" th:text="${blog.articleType}">原创</div>
                </a>
                <!--/*-->
                <a href="#" target="_blank" class="item">
                    <span class="m-text-bold">
                        Java从入门到精通
                    </span>
                    <div class="ui basic label mini">02-09</div>
                    <div class="ui orange basic label mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span class="m-text-bold">
                        Java从入门到精通
                    </span>
                    <div class="ui basic label mini">02-09</div>
                    <div class="ui orange basic label mini">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span class="m-text-bold">
                        Java从入门到精通
                    </span>
                    <div class="ui basic label mini">02-09</div>
                    <div class="ui orange basic label mini">原创</div>
                </a>
                <!--*/-->
            </div>
            </th:block>

        </div>
    </div>

    <!--底部-->
    <footer th:replace="fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <!--容器的对齐方式-->
        <!--居中-->
        <div class="ui center aligned container">
            <!--以网格的形式分开一列一列,会分为16部分-->
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">链接</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Github</a>
                        <a href="#" class="item">CSDN</a>
                        <a href="#" class="item">Gitee</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">QQ</a>
                        <a href="#" class="item">Email</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">关于我</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">爱学习，爱代码的小菜鸡</p>
                </div>
            </div>
            <!--分割线-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2021 Designed By ZZF</p>
        </div>
    </footer>
</body>
</html>