<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--让当前viewport的宽度等于设备的宽度，同时不允许用户手动缩放。-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>标签管理页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/m.css">
</head>
<body>
<!--/*/<th:block th:replace="admin/fragments :: script">/*/-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
    <script>

        $(document).ready(function(){
            //打开或合并菜单
            $('.menu-toggle').click(function () {
                //去除或加上对应的class
                $('.m-item').toggleClass('m-mobile-hide');
            });

            $('.ui.dropdown').dropdown({
                on:'hover'
            });
            $(function () {
                var timeout=setTimeout(function () {
                    $('.message .close')
                        .closest('.message')
                        .transition('fade');
                }, 100);
            });
            /*$('.message .close')
                .on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                })
            ;*/

            $('#checkAll').click(function () {
                $('.check_item').prop("checked",$(this).prop("checked"))
            });
            $('.check_item').click(function () {
                var flag=$('.check_item:checked').length==$('.check_item').length;
                $('#checkAll').prop("checked",flag);
            });
            $('#deleteBatch').click(function () {
                var ids="";
                $.each($(".check_item:checked"),function () {
                    ids+=$(this).val()+"-";
                });
                ids=ids.substring(0,ids.length-1);
                //alert(ids);
                //$(this).val(ids);
                window.location.replace("/admin/tags/deleteBatch/"+ids);
            })

        });
    </script>
    <!--导航 -->
    <!--inverted反转颜色,不加就白色，加就黑色，其他颜色可以在后面加，
    attached去除圆角-->
    <nav th:replace="admin/fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <!--反色菜单-->
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item">后台管理</h2>
                <!--m-mobile-hide手机端隐藏-->
                <a href="" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="" class="active m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://picsum.photos/id/1/100/100" alt="" class="ui avatar image">
                            zzf
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
                <!--<div class="m-item right item m-mobile-hide">
                    <div class="ui icon input">
                        <input class="transparent" type="text" placeholder="搜索..." style="width: 300px">
                        <i class="search link icon"></i>
                    </div>
                </div>-->
            </div>
        </div>
        <a href="#" class="ui menu-toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <!--中间部分-->
    <div class="m-padded-tb-large m-container-small">
        <div class="ui container">
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">
                    提示:
                </div>
                <p th:text="${message}">操作成功</p>
            </div>
            <table class="ui selectable table">
                <thead>
                <tr>
                    <th><input id="checkAll" type="checkbox"></th>
                    <th>序号</th>
                    <th>标签名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tag,item : ${page.content}">
                    <td><input class="check_item" type="checkbox" th:value="${tag.id}"></td>
                    <td th:text="${item.count}">1</td>
                    <td th:text="${tag.name}">java</td>
                    <td>
                        <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal button"><i class="edit icon"></i> 修改</a>
                        <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red button"><i class="delete icon"></i> 删除</a>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui left floated pagination small menu" th:if="${page.totalPages>1}">
                            <a th:href="@{/admin/tags(page=${page.number}-1)}" class="icon item" th:unless="${page.first}">
                                <i class="left chevron icon"></i>
                            </a>
                            <a th:each="i : ${#numbers.sequence(1, page.totalPages)}" th:class="(${i-1}==${page.number})? 'ui blue item active':'item'"  th:text="${i}"
                               th:href="@{/admin/tags(page=${i-1})}" ></a>
                            <a th:href="@{/admin/tags(page=${page.number}+1)}" class="icon item" th:unless="${page.last}">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                        <form action="#" method="post" class="ui form" th:action="@{/admin/tags/{id}(id=*{id})}"></form>
                        <a href="#" id="deleteBatch" class="ui small right floated orange button"><i class="trash icon"></i>批量删除</a>
                        <a href="#" th:href="@{/admin/tags/input}" class="ui small right floated orange button"><i class="add icon"></i>新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--底部-->
    <footer th:replace="admin/fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <!--容器的对齐方式-->
        <!--居中-->
        <div class="ui center aligned container">
            <!--以网格的形式分开一列一列,会分为16部分-->
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">链接</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Github</a>
                        <a href="#" class="item">CSDN</a>
                        <a href="#" class="item">Gitee</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">QQ</a>
                        <a href="#" class="item">Email</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">关于我</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">爱学习，爱代码的小菜鸡</p>
                </div>
            </div>
            <!--分割线-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2021 Designed By ZZF</p>
        </div>
    </footer>
</body>
</html>