<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--让当前viewport的宽度等于设备的宽度，同时不允许用户手动缩放。-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>分类新增页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/m.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css">
</head>
<body>
<!--/*/<th:block th:replace="admin/fragments :: script">/*/-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
    <script>
        $(document).ready(function(){
            //打开或合并菜单
            $('.menu-toggle').click(function () {
                //去除或加上对应的class
                $('.m-item').toggleClass('m-mobile-hide');
            });

            $('.ui.dropdown').dropdown({
                on:'hover'
            });

            $('.ui.form').form({
                fields:{
                    name:{
                        identifier:'name',
                        rules:[{
                            type:'empty',
                            prompt:'请输入分类名称!'
                        }]
                    }
                }
            });
            $('.message .close')
                .on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                })
            ;
        });
    </script>
    <!--导航 -->
    <!--inverted反转颜色,不加就白色，加就黑色，其他颜色可以在后面加，
    attached去除圆角-->
    <nav th:replace="admin/fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <!--反色菜单-->
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui olive header item">后台管理</h2>
                <!--m-mobile-hide手机端隐藏-->
                <a href="" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://picsum.photos/id/1/100/100" alt="" class="ui avatar image">
                            zzf
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
                <!--<div class="m-item right item m-mobile-hide">
                    <div class="ui icon input">
                        <input class="transparent" type="text" placeholder="搜索..." style="width: 300px">
                        <i class="search link icon"></i>
                    </div>
                </div>-->
            </div>
        </div>
        <a href="#" class="ui menu-toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间部分-->
    <div class="m-padded-tb-large m-container-small">
        <div class="ui container">
           <form action="#" method="post" class="ui form" th:object="${type}" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}">
               <input type="hidden" name="id" th:value="*{id}">
               <div class="required field">
                   <div class="ui left labeled action input">
                       <label class="ui compact blue basic label">分类</label>
                       <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                   </div>
               </div>

               <div class="ui error message"></div>
               <!--/*/
               <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                   <i class="close icon"></i>
                   <p th:errors="*{name}">分类名称不能为空！
                   </p>
               </div>
               /*/-->
               <div class="ui right aligned container">
                   <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                   <button class="ui blue submit button">提交</button>
               </div>
           </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--底部-->
    <footer th:replace="admin/fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <!--容器的对齐方式-->
        <!--居中-->
        <div class="ui center aligned container">
            <!--以网格的形式分开一列一列,会分为16部分-->
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">链接</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Github</a>
                        <a href="#" class="item">CSDN</a>
                        <a href="#" class="item">Gitee</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                        <a href="#" class="item">最新博客</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">QQ</a>
                        <a href="#" class="item">Email</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">关于我</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">爱学习，爱代码的小菜鸡</p>
                </div>
            </div>
            <!--分割线-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2021 Designed By ZZF</p>
        </div>
    </footer>
</body>
</html>